# Mobile Tools for Java (J2ME)
.mtj.tmp/
.idea/
target/
upload/

# Package Files #
*.jar
*.war
*.ear
*.iml
*.log

# mybatis generator
!blog-dao/src/main/resources/mysql-connector-java-5.1.34.jar
blog-dao/src/main/resources/mybatis-generator-config.properties
blog-dao/src/main/resources/generator-config.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*