<div class="child-comment" id="{{child.comment_id}}" ng-repeat="child in children">
	<p>
		<a class="blue-link" href="#">{{child.comment_user.nickname}}</a>：
		<a href="#" class="maleskine-author" target="_blank">@叫我小T</a> 回复内容回复内容回复内容回复内容
	</p>
	<div class="child-comment-footer text-right clearfix">
		<a data-id="xxxx" data-nickname="叫我小T" class="reply" href="javascript:void(null)"><i class="material-icons">reply</i> 回复</a>
		<span class="reply-time pull-left">
			<a href="#comment-0002">2016.04.03 15:58</a>
		</span>
	</div>
</div>