<div class="recommended">
	<div class="row">
		<!-- 主体左侧大图部分 开始 -->
		<div class="col s0 m3 left-aside">
			<left-aside></left-aside>
		</div>
		
		<!-- 主体左侧大图部分 结束 -->

		<!-- 主体右侧文章列表部分 开始 -->
		<div class="col s12 m7 offset-m3 right-content">
			<!-- 顶部文章列表分类 开始 -->
			<recommend-nav></recommend-nav>
			<!-- 顶部文章列表分类 结束 -->

			<!--右边用户信息-->
			<div class="sideBar-user"  id="sideBar-user">
				<a href="#"><img  src="img/4.jpg">
				<b class="shadow-block"></b></a>
			</div>
			<!--隐藏的用户列表-->
			
			<!--Sidebar content-->
			<div class="sidebar-menu"  id="sideBarmenu" >
			                          <span  class="icon-block"></span>
					<ul id="userMeun" class="menu-first">
						<li><a href="#"><i class="material-icons">mode_edit</i><span>写文章</span></a></li>
						<li><a href="#"><i class="material-icons">person_pin</i> <span>我的主页</span></a></li>
						<li><a href="#"><i class="material-icons">view_column</i><span> 我喜欢的</span></a></li>
						<li><a href="#"><i class="material-icons">turned_in</i> <span>我的收藏</span></a></li>
						<li><a href="#"><i class="material-icons">volume_down</i> <span>提醒</span></a></li>
						<li><a href="#"><i class="material-icons">movie</i> <span>猿友信</span></a></li>
						<li><a href="#"><i class="material-icons">settings</i> <span>设置</span></a></li>
						<li><a href="#"><i class="material-icons">list</i> <span>钱包</span></a></li>
						<li><a href="#"><i class="material-icons">library_add</i><span> 帮助</span></a></li>
						<li><a href="#"><i class="material-icons">exit_to_app</i> <span>登出</span></a></li>									
					</ul>
				
			</div>

			
			<!-- 精简的推荐文章列表部分 开始 -->
			<list-recommend></list-recommend>
			<!-- 精简的推荐文章列表部分 结束 -->

			<!-- 常规文章列表部分 开始 -->
			<list-article></list-article>
			<!-- 常规文章列表部分 结束 -->

		</div><!-- 主体右侧文章列表部分 结束 -->
	</div>
	
</div>