.post .comment-list {
  margin-bottom: 35px;
}
.post .comment-list .comment-head {
  margin-bottom: 25px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  color: #999;
  font-size: 12px;
  font-weight: normal;
  line-height: 52px;
}
.post .comment-list .comment-head a {
  margin: 0 5px;
  color: #999;
}
.post .comment-list .comment-head a:hover {
  color: #555;
}
.post .comment-list .comment-head .material-icons {
  font-size: 14px;
  position: relative;
  top: 1px;
}
.post .comment-list .note-comment {
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  font-size: 16px;
  line-height: 1.5;
}
.post .comment-list .note-comment .meta-top {
  padding-top: 10px;
  margin: 0 0 10px;
}
.post .comment-list .note-comment .meta-top .avatar {
  float: left;
}
.post .comment-list .note-comment .meta-top > p {
  margin: 0;
  line-height: 1;
}
.post .comment-list .note-comment .content p {
  word-break: break-all;
  word-wrap: break-word;
}
.post .comment-list .note-comment .content .author-name {
  font-size: 14px;
  color: #4094c7;
}
.post .comment-list .note-comment .content .author-name:hover {
  color: #075B9B;
}
.post .comment-list .note-comment .content .reply-time {
  margin-top: 3px;
  font-size: 12px;
  color: #999999;
}
.post .comment-list .note-comment .content .reply-time small i {
  font-style: normal;
}
.post .comment-list .note-comment .content .reply-time a {
  color: #b1b1b1;
}
.post .comment-list .note-comment .content .reply-time a:hover {
  border-bottom: 1px dashed #F57E42;
  color: #F57E42;
}
.post .comment-list .comment-toolbar {
  padding: 20px 0 15px 10px;
  border-left: 3px solid #d9d9d9;
  border-bottom: 1px dashed #eeeeee;
  font-size: 13px;
  color: #999;
}
.post .comment-list .comment-toolbar .delete,
.post .comment-list .comment-toolbar .dismiss,
.post .comment-list .comment-toolbar .reply,
.post .comment-list .comment-toolbar .post {
  color: #999;
}
.post .comment-list .comment-toolbar .delete:hover,
.post .comment-list .comment-toolbar .dismiss:hover,
.post .comment-list .comment-toolbar .reply:hover,
.post .comment-list .comment-toolbar .post:hover {
  border-bottom: 1px dashed #F57E42;
  color: #F57E42;
}
.post .comment-list .comment-toolbar .material-icons {
  font-size: 14px;
  position: relative;
  top: 1px;
}
.post .comment-list .child-comment-list {
  padding-bottom: 30px;
  margin-top: 10px;
  border-top: 1px dashed #eee;
}
.post .comment-list .child-comment {
  padding: 15px 0 15px 10px;
  border-bottom: 1px dashed #d9d9d9;
  border-left: 3px solid #d9d9d9;
  font-size: 13px;
}
.post .comment-list .child-comment p {
  margin-bottom: 0;
}
.post .comment-list .comment-footer,
.post .comment-list .child-comment-footer {
  margin-bottom: 10px;
}
.post .comment-list .comment-footer .delete:hover,
.post .comment-list .child-comment-footer .delete:hover,
.post .comment-list .comment-footer .dismiss:hover,
.post .comment-list .child-comment-footer .dismiss:hover,
.post .comment-list .comment-footer .reply:hover,
.post .comment-list .child-comment-footer .reply:hover,
.post .comment-list .comment-footer .post:hover,
.post .comment-list .child-comment-footer .post:hover {
  border-bottom: 1px dashed #F57E42;
  color: #F57E42;
}
.post .comment-list .comment-footer > a,
.post .comment-list .child-comment-footer > a,
.post .comment-list .comment-footer .report_comment,
.post .comment-list .child-comment-footer .report_comment {
  color: #999;
  font-size: 13px;
}
.post .comment-list .comment-footer .material-icons,
.post .comment-list .child-comment-footer .material-icons {
  font-size: 1.8rem;
  position: relative;
  top: 0.2rem;
}
.post .comment-list .child-comment-footer {
  margin-bottom: 0px;
}
.post .comment-list .child-comment-footer .material-icons {
  font-size: 1.4rem;
  position: relative;
  top: 0.1rem;
}
.post .comment-list .load-more {
  padding: 10px 0;
  margin-bottom: 0;
  font-size: 12px;
}
.post .comment-list .load-more a:hover {
  border-bottom: 1px dashed #F57E42;
  color: #F57E42;
}
.post .comment-list .load-more a .material-icons {
  font-size: 1.8rem;
  position: relative;
  top: 0.3rem;
  margin-right: 5px;
}
