.blue-link {
  color: #4094c7;
}
html {
  line-height: 1.4;
  font-size: 62.5%;
}
body,
input,
textarea,
select {
  font-size: 1.4rem;
  color: #333;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
/*image with no-border*/
img {
  border: 0;
}
a {
  color: #555555;
  text-decoration: none;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.mask {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 1280px;
  width: 768px;
  position: absolute;
  top: 0;
  z-index: 99;
  transition: all 0.6s;
}
html {
  background-color: #fff;
}
body {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  background-color: white;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #3f3f3f;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: whitesmoke;
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn {
  border-radius: 4px;
  box-shadow: none;
  color: #555555;
  border-color: whitesmoke;
  background: whitesmoke;
  border-color: #d5d5d5;
  text-shadow: none;
}
.btn-large {
  font-size: 17.5px;
  border-radius: 6px;
}
.btn-success {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb65b;
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF51A351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success {
  color: white;
  border-color: #49be38;
  background: #49be38;
}
.btn-success:hover,
.btn-success:focus {
  color: white;
  border-color: #6bd95b;
  background-color: #6bd95b;
}
.btn-pay {
  color: white;
  border-color: #f57e42;
  background: #f57e42;
}
.avatar {
  border-radius: 50%;
}
.avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 50%;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.output .load-more {
  margin-bottom: 30px;
  text-align: center;
}
.fixed-btn {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 40px;
  border: 1px solid #eeeeee;
  background-color: white;
  font-size: 24px;
  z-index: 1040;
  -webkit-backface-visibility: hidden;
}
.fixed-btn a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
}
.fixed-btn a i {
  font-size: 1.8rem;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}
.fixed-btn .go-top {
  border-bottom: 1px solid #eee;
}
.fixed-btn .go-top i {
  font-size: 2.4rem;
}
.fixed-btn .go-top:hover {
  color: #000;
}
.fixed-btn .writer {
  background-color: #49be38;
  font-size: 18px;
  color: white;
}
.fixed-btn .writer:hover {
  background-color: #69cf5a;
}
.row-fluid {
  width: 100%;
}
.row-fluid[class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid[class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
  float: left;
  margin-left: 0%;
}
.row-fluid .right-content {
  padding-top: 70px;
  padding-left: 12px;
  max-width: 1000px;
}
.row-fluid .span9 {
  padding-left: 12px;
}
.left-aside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 45px;
}
.left-aside a,
.left-aside a:hover {
  color: white;
}
.left-aside .bottom-block {
  position: absolute;
  bottom: 0;
  padding: 30px;
  color: white;
}
.left-aside .bottom-block h1,
.left-aside .bottom-block h2,
.left-aside .bottom-block h3,
.left-aside .bottom-block h4,
.left-aside .bottom-block h5,
.left-aside .bottom-block h6 {
  text-shadow: -1px 0 0 rgba(0, 0, 0, 0.75);
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
.left-aside .bottom-block h1 {
  font-size: 38.5px;
}
.left-aside .bottom-block h3 {
  font-size: 24.5px;
}
.left-aside .bottom-block h1,
.left-aside .bottom-block h2,
.left-aside .bottom-block h3 {
  line-height: 40px;
}
.left-aside .bottom-block .btn-success {
  padding-left: 34px;
  background-position: -104px -22px;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-size: 250px;
  margin-top: 10px;
  font-size: 16px;
}
.left-aside .bottom-block .btn-success:hover {
  margin-top: 10px;
  font-size: 16px;
}
.index .container,
.post .container {
  width: 100%;
  max-width: 100%;
}
