.output {
  padding-left: 45px;
}
@media (min-width: 1588px) {
  .output {
    padding-left: 170px;
  }
  .output .row-fluid .right-content {
    padding-left: 48px;
  }
  .output .navbar-blog {
    width: 170px;
  }
  .output .navbar-blog .dropdown a,
  .output .navbar-blog .nav-user a {
    padding: 10px 15px;
    text-align: left;
  }
  .output .navbar-blog .logo b {
    display: none;
  }
  .output .navbar-blog .logo i {
    display: inline-block;
    margin: 0;
  }
  .output .navbar-blog .title {
    padding: 0;
  }
  .output .navbar-blog span.title {
    display: inline-block;
    margin-left: 8px;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
  }
  .output .ranking .right-content,
  .output .timeline .right-content,
  .output .collections .right-content,
  .output .recommended .right-content {
    padding-top: 70px;
  }
  .output .left-aside {
    left: 170px !important;
  }
}
@media (max-width: 768px) {
  .shrink {
    top: 0;
    left: 0;
    height: auto;
    display: block !important;
    background: none;
  }
  .shrink a {
    background-color: #e78170;
    text-shadow: 0 1px 0 #b9351f;
  }
  .shrink .dropdown-menu {
    top: 35px;
    left: 0;
  }
  .navbar-mobile {
    display: block !important;
    width: 100%;
  }
  .output {
    padding-left: 0;
  }
  .output .expanded {
    display: none;
  }
  .output .left-aside {
    display: none !important;
  }
  .output .ranking .right-content,
  .output .timeline .right-content,
  .output .collections .right-content,
  .output .recommended .right-content {
    width: 100%;
    padding: 10px 10px 0;
    margin-left: 0;
  }
  .output .ranking .right-content .page-title,
  .output .timeline .right-content .page-title,
  .output .collections .right-content .page-title,
  .output .recommended .right-content .page-title {
    padding: 0;
    width: 100%;
  }
  .output .ranking .right-content .thumbnails,
  .output .timeline .right-content .thumbnails,
  .output .collections .right-content .thumbnails,
  .output .recommended .right-content .thumbnails {
    padding: 0;
    margin-left: 0;
  }
  .output .ranking .right-content .thumbnails > li,
  .output .timeline .right-content .thumbnails > li,
  .output .collections .right-content .thumbnails > li,
  .output .recommended .right-content .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  .output .navigation {
    margin-left: 0;
  }
  .rank .recommended .list-group,
  .rank .recommended .list-group-rank {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .rank .recommended .list-group .list-group-title,
  .rank .recommended .list-group-rank .list-group-title {
    font-size: 1.6rem;
  }
  .rank .recommended .list-group .list-group-title p,
  .rank .recommended .list-group-rank .list-group-title p {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 1rem 0;
  }
  .rank .recommended .list-group .list-group-title p span,
  .rank .recommended .list-group-rank .list-group-title p span {
    width: 100%;
  }
  .rank .recommended .list-group-rank {
    border-bottom: 0.2rem solid #FFA70A;
  }
  .rank .recommended .list-group-rank .article-list .rank-ctg {
    background-color: transparent;
    border-bottom: 0.1rem dashed #FFA70A;
    color: #FFA70A;
    height: 2rem;
    width: 100%;
    margin: 1rem 0;
    position: relative;
    left: 0;
    top: 0px;
  }
  .rank .recommended .list-group-rank .article-list .rank-ctg span {
    color: #FFA70A;
    display: block;
    font-size: 1.6rem;
    padding: 0rem;
    width: 100%;
    text-align: left;
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(0);
  }
  .rank .recommended .list-group-rank .article-list .have-img {
    float: left;
    display: block;
    position: relative;
    padding-left: 0rem;
  }
  .list .recommended .list-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar-user {
    top: 0;
    left: 0;
    height: 45px;
    background: white;
    box-shadow: 0 1px 4px #eeeeee;
  }
  .row-fluid {
    width: 100%;
  }
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
  }
  .row-fluid .recommended .page-title {
    position: static;
  }
}
