<div class="recommended">
	<div class="row">
		<!-- 主体左侧大图部分 开始 -->
		<div class="col s0 m3 left-aside">
			<left-aside></left-aside>
		</div>
		
		<!-- 主体左侧大图部分 结束 -->

		<!-- 主体右侧文章列表部分 开始 -->
		<div class="col s12 m7 offset-m3 right-content">
			<!-- 顶部文章列表分类 开始 -->
			<recommend-nav></recommend-nav>
			<!-- 顶部文章列表分类 结束 -->

			<!--右边用户信息-->
			<div class="sideBar-user">
				<a href="#"><img  src="img/4.jpg">
				<b class="shadow-block"></b></a>
			</div>
			
			<!-- 精简的推荐文章列表部分 开始 -->
			<list-recommend></list-recommend>
			<!-- 精简的推荐文章列表部分 结束 -->

			<!-- 常规文章列表部分 开始 -->
			<list-article></list-article>
			<!-- 常规文章列表部分 结束 -->

		</div><!-- 主体右侧文章列表部分 结束 -->
	</div>
	
</div>