<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zuoxiaolong.blog.mapper.BlogConfigMapper">
    <resultMap id="BaseResultMap" type="com.zuoxiaolong.blog.model.persistent.BlogConfig">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="web_user_id" property="webUserId" jdbcType="INTEGER"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="blog_title" property="blogTitle" jdbcType="VARCHAR"/>
        <result column="blog_sub_title" property="blogSubTitle" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, create_time, update_time, web_user_id, introduction, address, blog_title, blog_sub_title
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from blog_config
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByWebUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        from blog_config
        where web_user_id = #{webUserId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insertSelective" parameterType="com.zuoxiaolong.blog.model.persistent.BlogConfig">
        insert into blog_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="webUserId != null">
                web_user_id,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="blogTitle != null">
                blog_title,
            </if>
            <if test="blogSubTitle != null">
                blog_sub_title,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="webUserId != null">
                #{webUserId,jdbcType=INTEGER},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="blogTitle != null">
                #{blogTitle,jdbcType=VARCHAR},
            </if>
            <if test="blogSubTitle != null">
                #{blogSubTitle,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zuoxiaolong.blog.model.persistent.BlogConfig">
        update blog_config
        <set>
            <if test="webUserId != null">
                web_user_id = #{webUserId,jdbcType=INTEGER},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByWebUserId" parameterType="com.zuoxiaolong.blog.model.persistent.BlogConfig">
        update blog_config
        <set>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="blogTitle != null">
                blog_title = #{blogTitle,jdbcType=VARCHAR},
            </if>
            <if test="blogSubTitle != null">
                blog_sub_title = #{blogSubTitle,jdbcType=VARCHAR},
            </if>
        </set>
        where web_user_id = #{webUserId,jdbcType=INTEGER}
    </update>


</mapper>