<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zuoxiaolong.blog.mapper.MessageBoxMapper">
    <resultMap id="BaseResultMap" type="com.zuoxiaolong.blog.model.persistent.MessageBox">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="sender" property="sender" jdbcType="INTEGER"/>
        <result column="receiver" property="receiver" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, create_time, update_time, content, sender, receiver, status, title
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from message_box
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message_box
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insertSelective" parameterType="com.zuoxiaolong.blog.model.persistent.MessageBox">
        insert into message_box
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="sender != null">
                sender,
            </if>
            <if test="receiver != null">
                receiver,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="title !=null">
                title
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="sender != null">
                #{sender,jdbcType=INTEGER},
            </if>
            <if test="receiver != null">
                #{receiver,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="title!=null">
                #{title,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zuoxiaolong.blog.model.persistent.MessageBox">
        update message_box
        <set>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="sender != null">
                sender = #{sender,jdbcType=INTEGER},
            </if>
            <if test="receiver != null">
                receiver = #{receiver,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--查询消息列表的条件-->
    <sql id="select_message_box_lists">
        <if test="messageBox.sender != null and messageBox.sender != ''">
            AND sender = #{messageBox.sender,jdbcType = TINYINT}
        </if>
        <if test="messageBox.receiver != null and messageBox.receiver != ''">
            AND receiver = #{messageBox.receiver,jdbcType = TINYINT}
        </if>
        <if test="messageBox.status != null and messageBox.status != ''">
            AND status = #{messageBox.status,jdbcType=TINYINT}
        </if>
        AND 1 = 1
    </sql>
    <!--根据复合条件分页查询消息列表-->
    <select id="getMessagesByPage" resultMap="BaseResultMap">
        SELECT *
        FROM message_box
        <where>
            <include refid="select_message_box_lists"></include>
        </where>
    </select>
</mapper>