<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zuoxiaolong.blog.mapper.UserArticleMapper">
    <resultMap id="BaseResultMap" type="com.zuoxiaolong.blog.model.persistent.UserArticle">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="web_user_id" property="webUserId" jdbcType="INTEGER"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="read_times" property="readTimes" jdbcType="INTEGER"/>
        <result column="thumbup_times" property="thumbupTimes" jdbcType="INTEGER"/>
        <result column="is_main_page" property="isMainPage" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="comment_times" property="commentTimes" jdbcType="INTEGER"/>
        <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, create_time, update_time, web_user_id, category_id, title, content, read_times, thumbup_times, is_main_page,
        status, comment_times, publish_time
    </sql>

    <sql id="Small_Column_List">
        id, create_time, update_time, web_user_id, category_id, title, read_times, thumbup_times, is_main_page,
        status, comment_times, publish_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user_article
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user_article
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.zuoxiaolong.blog.model.persistent.UserArticle" useGeneratedKeys="true" keyProperty="id" >
        insert into user_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="webUserId != null">
                web_user_id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="readTimes != null">
                read_times,
            </if>
            <if test="thumbupTimes != null">
                thumbup_times,
            </if>
            <if test="isMainPage != null">
                is_main_page,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="commentTimes != null">
                comment_times,
            </if>
            <if test="publishTime != null">
                publish_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="webUserId != null">
                #{webUserId,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="readTimes != null">
                #{readTimes,jdbcType=INTEGER},
            </if>
            <if test="thumbupTimes != null">
                #{thumbupTimes,jdbcType=INTEGER},
            </if>
            <if test="isMainPage != null">
                #{isMainPage,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="commentTimes != null">
                #{commentTimes,jdbcType=INTEGER},
            </if>
            <if test="publishTime != null">
                #{publishTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zuoxiaolong.blog.model.persistent.UserArticle">
        update user_article
        <set>
            <if test="webUserId != null">
                web_user_id = #{webUserId,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="readTimes != null">
                read_times = #{readTimes,jdbcType=INTEGER},
            </if>
            <if test="thumbupTimes != null">
                thumbup_times = #{thumbupTimes,jdbcType=INTEGER},
            </if>
            <if test="isMainPage != null">
                is_main_page = #{isMainPage,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="commentTimes != null">
                comment_times = #{commentTimes,jdbcType=INTEGER},
            </if>
            <if test="publishTime != null">
                publish_time = #{publishTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <select id="getThumbupCharts" resultMap="BaseResultMap">
        SELECT
        <include refid="Small_Column_List"/>
        FROM
        user_article
        WHERE
        category_id = #{categoryId,jdbcType=INTEGER}
        AND
        <![CDATA[
          publish_time >= #{publishTime,jdbcType=TIMESTAMP}
        ]]>
        ORDER BY thumbup_times,id DESC LIMIT 3
    </select>

    <select id="getReadCharts" resultMap="BaseResultMap">
        SELECT
        <include refid="Small_Column_List"/>
        FROM
        user_article
        WHERE
        category_id = #{categoryId,jdbcType=INTEGER}
        AND
        <![CDATA[
          publish_time >= #{publishTime,jdbcType=TIMESTAMP}
        ]]>
        ORDER BY read_times,id DESC LIMIT 3
    </select>

    <select id="getCommentCharts" resultMap="BaseResultMap">
        SELECT
        <include refid="Small_Column_List"/>
        FROM
        user_article
        WHERE
        category_id = #{categoryId,jdbcType=INTEGER}
        AND
        <![CDATA[
          publish_time >= #{publishTime,jdbcType=TIMESTAMP}
        ]]>
        ORDER BY comment_times,id DESC LIMIT 3
    </select>

    <select id="getPageByWebUserId" resultMap="BaseResultMap">
        select
        <include refid="Small_Column_List"/>
        from user_article
        where web_user_id = #{webUserId} and status = 1
    </select>

    <select id="getHotArticlesByWebUserId" resultMap="BaseResultMap">
        select
        <include refid="Small_Column_List"/>
        from user_article
        where web_user_id = #{webUserId} and status = 1
        order by thumbup_times,read_times,comment_times desc
        limit #{size}
    </select>

    <select id="getArticlesByWebUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Small_Column_List"/>
        from user_article
        where web_user_id = #{webUserId,jdbcType=INTEGER} and status != 2
        order by id DESC
    </select>

    <select id="getMainPageArticles" resultMap="BaseResultMap">
        SELECT
        <include refid="Small_Column_List"/>
        FROM
        user_article a
        WHERE
        a.category_id = #{categoryId,jdbcType=INTEGER} and status = 1
    </select>

    <update id="updateReadTimes" parameterType="java.lang.Integer">
        update user_article
        <set>
            read_times = read_times+1
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateCommentTimes" parameterType="java.lang.Integer">
        update user_article
        <set>
            comment_times = comment_times+1
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateThumbupTimes" parameterType="java.lang.Integer">
        update user_article
        <set>
            thumbup_times = thumbup_times+1
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>