<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zuoxiaolong.blog.mapper.UserOperationRecordMapper">
    <resultMap id="BaseResultMap" type="com.zuoxiaolong.blog.model.persistent.UserOperationRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="web_user_id" property="webUserId" jdbcType="INTEGER"/>
        <result column="operation_type" property="operationType" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, create_time, update_time, web_user_id, operation_type
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user_opeartion_record
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_opeartion_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insertSelective" parameterType="com.zuoxiaolong.blog.model.persistent.UserOperationRecord">
        insert into user_opeartion_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="webUserId != null">
                web_user_id,
            </if>
            <if test="operationType != null">
                operation_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="webUserId != null">
                #{webUserId,jdbcType=INTEGER},
            </if>
            <if test="operationType != null">
                #{operationType,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zuoxiaolong.blog.model.persistent.UserOperationRecord">
        update user_opeartion_record
        <set>
            <if test="webUserId != null">
                web_user_id = #{webUserId,jdbcType=INTEGER},
            </if>
            <if test="operationType != null">
                operation_type = #{operationType,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>